{
  "printWidth": 80,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ]
}
