# ignore log output
*.log

# ignore all dotfiles except the whitelisted ones
.*
!.env.example
!.changeset
!.github
!.gitignore
!.gitattributes
!.prettierignore
!.prettierrc
!.babelrc
!.solhint.json

# ignore installed dependencies
node_modules/

# ignore build output
artifacts/
cache/
dist/
/coverage/

# ignore generated code
src/codegen/
