# Ignore build output and dependencies
node_modules/
dist/
artifacts/
cache/

# Ignore codegen directories but not the package
codegen/
!/packages/codegen/

# Ignore log files
*.log

# Ignore all dotfiles except those listed
.*
!.gitignore
